# [초보자를 위한 파이썬 300제](https://wikidocs.net/78558)
---
목적 : 파이썬 문법 이해와 기초 코드 연습을 통한 기본기 학습.

## 1 파이썬 시작하기 (1~10)
---
print 함수와 관련된 문제 풀이

In [22]:
# 1. Hello World 
print('Hello World')

Hello World

In [23]:
# 2. Mary's cosmetics 
print("Mary's cosmetics")

Mary's cosmetics

In [24]:
# 3.  신씨가 소리질렀다. "도둑이야". 
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [25]:
# 4. "C:\windows"
print('"C:\Windows"')

"C:\Windows"

In [26]:
# 5. \t \n 역할 알기  , \n:줄바꿈 \t:탭
print("안녕.\n 만나서 \t\t 반갑다.")

안녕.
 만나서 		 반갑다.

In [27]:
# 6. 여러단어 출력
print("오늘은","일요일")

오늘은 일요일

In [28]:
# 7. naver;kakao;samsung 출력
print('naver;'+'kakao;'+'samsung')
print('naver','kakao','samsung',sep=';')

naver;kakao;samsung
naver;kakao;samsung

In [29]:
# 8. naver/kakao/samsung 출력
print('naver','kakao','samsung', sep='/')

naver/kakao/samsung

In [30]:
# 9. print('first');print('second') 공백없이 출력
print('first',end='');print('second')

firstsecond

In [31]:
# 10. 5/3 결과 출력
print(5/3)

1.6666666666666667

## 2 변수 (11~20)
---
파이썬 변수는 자주 사용되는 값을 바인딩한다. </br>
파이썬 변수의 개념을 이해하고 문제를 풀어보자

In [94]:
# 11. 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자=50000
총평가액=삼성전자*10
print(총평가액)

# 12. 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
시가총액=298000000000000
현재가=50000
per = 15.79
print(시가총액, type(시가총액))

# 13. 문자열 출력
s='hello'; t='python'
print(s+'!',t)

# 14. 파이썬을 이용한 계산
2+2*3

# 15. type함수
a=123;type(a)

# 16. 문자열을 정수로 변환
num_str = '720'; int(num_str)

# 17. 정수를 문자열 100으로 변환
num=100; str(num)

# 18. 문자열을 실수로 변환
string='15.79'; float(string)

# 19. 문자열을 정수로 변환
year = '2020';
print(int(year)-3, int(year)-2, int(year)-1)

# 20 파이썬 계산
# 에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에 판매되고 있다. 총 금액은 계산한 후 이를 출력
month = 48584 
month*36

500000
298000000000000 <class 'int'>
hello! python
2017 2018 2019

1749024

## 3 문자열(21~50)
---
파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공한다.

In [32]:
# 21. (문자열 인덱싱) letters가 바인딩하는 문자열에서 첫번째, 세번째 문자 출력
letters = 'python'
print(letters[0],letters[2])

p t

In [33]:
# 22. (문자열 슬라이싱) 뒤 4자리만 출력
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [34]:
# 23. (문자열 인덱싱) '홀'만 출력
string = '홀짝홀짝홀짝'
string[::2]

'홀홀홀'

In [35]:
# 24. (문자열 슬라이싱) 문자열 뒤집어 출력
string = 'PYTHON'
string[::-1]

'NOHTYP'

In [36]:
# 25.(문자열 치환) - 제거
number = '010-1111-2222'
print(number.replace('-',' '))

010 1111 2222

In [37]:
# 26. (문자열 다루기) 25번 문제 모두 붙여 출력
number.replace('-','')

'01011112222'

In [38]:
# 27. (문자열 다루기) 도메인 출력 kr
url = 'http://sharebook.kr'
print(url.split('.')[1])

kr

In [39]:
# 28. 문자열은 immutable
lang='python'
lang[0]='P'
# 'str' object does not support item assignment

TypeError: ignored

In [40]:
# 29. replcae 메서드 'a' -> 'A'
string = 'abcdefg12341aa1a12a'
print(string.replace('a','A'))

Abcdefg12341AA1A12A

In [41]:
# 30. replace 메서드 예상하기
string='abcd'
print(string.replace('b','B'))

aBcd

In [42]:
# 31. 문자열 합치기
a='3';b='4'
print(a+b)

34

In [43]:
# 32. 문자열 곱하기
print('Hi'*3)

HiHiHi

In [44]:
# 33. 문자열 곱하기 - 80번 출력
print('-'*80)

--------------------------------------------------------------------------------

In [45]:
# 34. 문자열 곱하기
t1 = 'python'; t2 = 'java'
print((t1+' '+t2+' ')*3)

python java python java python java

In [46]:
# 35. (문자열 출력) %formattinng을 사용해 출력
name1='민수'; age1=10; name2='철희';age2=13

print('이름:%s, 나이:%d' % (name1,age1))

이름:민수, 나이:10

In [47]:
# 36. (문자열 출력) format() 메서드 사용
format('이름:{}, 나이:{}'.format(name1,age1))

'이름:민수, 나이:10'

In [48]:
# 37. (문자열 출력) f-string
print(f'이름: {name1}, 나이:{age1}\n이름: {name2}, 나이:{age2}')

이름: 민수, 나이:10
이름: 철희, 나이:13

In [49]:
# 38. 컴마 제거 및 정수 출력
nums = '5,969,782,550'

In [50]:
# 39. 문자열 슬라이싱, '2020/03'출력
quarter = '2020/03(E) (IRS연결)'
print(quarter[:7])
print(quarter.split(' ')[0][:-3])

2020/03
2020/03

In [51]:
# 40. 공백 제거
data = '  삼성전자   '
print(data.strip())

삼성전자

In [52]:
# 41. upper 메서드 (대문자로 변경)
ticker = 'btn_krw'
ticker.upper()

'BTN_KRW'

In [53]:
# 42. lower 메서드
ticker = 'BTN_KRW'
ticker.lower()

'btn_krw'

In [55]:
# 43. capitalize 메서드, hello -> Hello
'hello'.capitalize()

'Hello'

In [57]:
# 44. (endswith 메서드) 파일 이름이 'xlsx'로 끝나는지 여부 확인
fname = '보고서.xlsx'
fname.endswith('xlsx')

True

In [61]:
# 45. (endswith 메서드) 파일 이름이 'xlsx' 혹은 'xls'로 끝나는지 확인
fname.endswith(('xlsx','xls'))

True

In [62]:
# 46. (startswith 메서드) 파일명이 '2020'으로 시작하는지 확인
fname = '2020_보고서.xlsx'
fname.startswith('2020')

True

In [63]:
# 47. split 메서드, 공백을 기준으로 문자 분할
a= 'hello world'
a.split(' ')

['hello', 'world']

In [64]:
# 48. btc와 krw로 분할
ticker='btn_krw'
ticker.split('_')

['btn', 'krw']

In [65]:
# 49. (split 메서드) 연도, 월, 일로 분할
data = '2020-05-01'
data.split('-')

['2020', '05', '01']

In [66]:
# 50 rstrip 메서드, 오른쪽 공백 제거
data='03091234     '
data.rstrip()

'03091234'

### 알게된 점
 * endswith(('a','b)), 'a' 또는 'b'로 끝나는지 -> 포함여부 확인 가능

## 4 리스트(51 ~ 70)
---
파이썬 리스트는 순서가 있고 수정 가능한 자료구조이다.

In [105]:
# 51. 리스트 생성
movie_rank = ['닥터 스트레인지','스플릿','럭기']

In [106]:
# 52. 리스트 원소 추가. (리스트에 '배트맨' 추가)
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭기', '배트맨']

In [107]:
# 53. '슈퍼맨'을 '닥터 스트레인지'와 '스플릿' 사이에 추가하기.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '배트맨')
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키', '배트맨']

In [108]:
# 54. movie_rank에 '럭키'를 삭제
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '배트맨']

In [112]:
# 55. movie_rank 리스트에서 '스플릿'과 배트맨을 삭제하라
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [114]:
# 56. lang1과 lang2 리스트가 있을때 lang1과 lang2의 원소를 모드 갖고 있는 langs 리스트를 만들어라.
lang1 = ['C', 'C++','JAVA']
lang2 = ['Python','Go','C#']
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [122]:
# 57. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트:min(), max() 함수 사용)
nums = [1,2,3,4,5,6,7]
print(f'최솟값 : {min(nums)}\n최댓값 : {max(nums)}')

최솟값 : 1
최댓값 : 7

In [124]:
# 58. 리스트 합을 출력.
nums = [1,2,3,4,5]
sum(nums)

15

In [152]:
# 59. 저장된 데이터의 개수를 출력.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

# from collections import Counter
# Counter(cook), 원소 갯수 합 출력

12

In [153]:
# 61. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [154]:
# 62. 슬라이싱을 사용해 홀수만 출력
nums=[1,2,3,4,5,6,7,8,9,10]
nums[::2]

[1, 3, 5, 7, 9]

In [158]:
# 63. 슬라이싱을 사용해 짝수만 출력
nums=[1,2,3,4,5,6,7,8,9,10]
nums[1::2]

[2, 4, 6, 8, 10]

In [163]:
# 64. 슬라이싱을 사용해 리스트의 숫자를 역방향으로 출력
nums = [1,2,3,4,5]
nums[::-1]

[5, 4, 3, 2, 1]

In [164]:
# 65 insert 리스트를 사용해 출력
interset = ['삼성전자','LG전자','Naver']
print(interset[0],interset[2])

삼성전자 Naver

In [174]:
# 66. join 메서드
interset = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print(" ".join(interset))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [175]:
# 67. join 메서드
interset = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print("/".join(interset))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [176]:
# 68. join 메서드
interset = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print("\n".join(interset))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [181]:
# 69. 문자열 split 메서드
string = '삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'
string.split('/')

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [195]:
# 70. 리스트 정렬(오름차순)
data = [2,4,3,1,5,10,9]
sorted(data)

[1, 2, 3, 4, 5, 9, 10]

## 5 튜플(71~80)
---
순서가 있지만 수정 불가능한 자료구조

In [197]:
# 71. my_variable 이름의 비어있는 튜플 생성
my_variable=()

tuple

In [197]:
# 72. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
movie_rank = ('닥터 스트레인지','스플릿','럭키')

In [200]:
# 73. 숫자 1이 저장된 튜플 생성
my_tuple = (1)
type(my_tuple)
# -> 하나의 정숫값을 저장하면 튜플이 아닌 정수로 인식한다.

my_tuple2 = (1,)
# -> 하나의 데이터가 저장되는 경우, 쉼표를 입력해야 한다.

print(type(my_tuple), type(my_tuple2))

<class 'int'> <class 'tuple'>

In [ ]:
# 74. 다음 코드를 실행하고 오류가 발생하는 원인 설명
t=(1,2,3)
t[0] = 'a'

#=> tuple은 원소의 값을 변경할 수 없다.

In [202]:
# 75. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t=1,2,3

# -> 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 괄호 없이도 동작 가능하다.

In [ ]:
# 76. 변수 t에는 아래과 같은 값이 저장되어 있다. 변수 t가 ('A','b','c') 튜플을 가리키도록 수정하라.
t=('a','b','c')

# => 튜플 값은 변경 불가. 따라서 새로운 튜플을 만들고 t라는 변수를 업데이트 해야한다.
t=('A','b','c')

In [204]:
# 77. 다음 튜플을 리스트로 변환하라.
interset = ('삼성전자','LG전자','SK하이닉스')
list(interset)

['삼성전자', 'LG전자', 'SK하이닉스']

In [207]:
# 78. 다름 리스트를 튜플로 변환하라
interset = ['삼성전자','LG전자','SK하이닉스']
tuple(interset)

('삼성전자', 'LG전자', 'SK하이닉스')

In [208]:
# 79. 튜플 언팩킹
temp = ('apple','banana','cake')
a,b,c = temp
print(a,b,c)

apple banana cake

In [ ]:
# 80. range 함수
# 1~99까지 짝수만 저장된 튜플을 생성.
tuple(range(2,100,2))

# num_tuple=tuple(range(1,100))
# num_tuple[1::2]

### 알게된 점
 * 튜플은 괄호를 생략해도 지정이 가능하다.
 * 하나의 정숫값을 입력할때는 뒤에 쉼표를 붙여야 튜플로 저장된다.

## 6 딕셔너리(81~100)
---
순서는 없지만 key, value 형태로 데이터를 저장한다. </br>
특히 key는 데이터의 레이블(label)을 지정하는 용도로 자주 사용된다.

In [220]:
# 81. 별 표현식
'''
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.
'''
a,b,*c=(0,1,2,3,4,5)
print(a,b,c)

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용해 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b=scores
print(valid_score, a,b)

0 1 [2, 3, 4, 5]
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] 7.8 9.4

In [221]:
# 82. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용해 우측 8개의 값을 valid_score 변수에 바인딩 하여라
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,__,*valid = scores
print(_,__,valid)

8.8 8.9 [8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [223]:
# 83. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression 을 사용해 가운데 있는 8개의 값을 valid_score 변수에 바인딩 하여라
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid,__ = scores
print(_, valid, __)

8.8 [8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8] 9.4

In [224]:
# 84. 빈 딕셔너리
# temp이름의 빈 딕셔너리 생성
temp={}

In [226]:
# 85. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하여라.
ice = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [230]:
# 86. 위 85번의 딕셔너리에 자료 추가
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [243]:
# 87. 다음 딕셔너리를 사용해 메로나 가격을 출력
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
print('메로나 가격 :', ice['메로나'])

메로나 가격 : 1000

In [246]:
# 88. 다음 딕셔너리에서 메로나 가격을 1300으로 수정.
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
ice['메로나']=1300

{'메로나': 1300, '빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴로포': 1200}

In [248]:
# 89. 다음 딕셔너리에서 메로나를 삭제
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
del ice['메로나']

{'빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴로포': 1200}

In [ ]:
# 90. 에러가 발생한 원인 찾기
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# -> 사전에 없는 key값 호출로 인한 에러

In [252]:
# 91. 딕셔너리 생성(딕셔너리명 : inventory)
# 아이스크림 이름을 키값으로,(가격,재고)리스트를 딕셔너리 값으로 저장.
inventory = {'메로나':[300,200], '비비빅':[400,3], '죠스바':[250,100]}

{'메로나': [300, 200], '비비빅': [400, 3], '죠스바': [250, 100]}

In [257]:
#  92. 딕셔너리 인덱싱, 메로나 가격 출력
print(inventory['메로나'][0],'원')

300 원

In [258]:
# 93. 딕셔너리 인덱싱, 메로나 재고 출력
inventory['메로나'][1]

200

In [259]:
# 94. 딕셔너리 추가
inventory['월드콘'] = [500,7]

In [264]:
# 95. 딕셔너리 keys() 메서드, 다음의 딕셔너리에서 key 값으로만 구성된 리스트 생성.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [263]:
# 96. 딕셔너리 values()
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [273]:
# 98. 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecreame 딕셔너리에 추가
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [278]:
# 99. zip과 dict
# 아래 두개의 튜플을 하나의 딕셔너리로 변환. keys를 키로, result의 이름을 value 값으로 저장.
keys = ('apple','pear','peach')
vals = (300, 250,400)

result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

{'apple': 300, 'peach': 400, 'pear': 250}

In [281]:
# 100.zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성.
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

### 알게된 점 
 * 별 표현식
  
   ```
   start expression 사용시 변수의 갯수가 달라도 언패킹 할 수 있다.

   예시) 
   scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
    *valid_score,a,b=scores
    print(valid_score, a,b)

    >> [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] 7.8 9.4

 * 딕셔너리 자료 추가
  ```
  딕셔너리명['새로운 key값'] = value값
  예시)
  ice['죠스바'] = 1200
  ```

 * 딕셔너리 간 결합
 ```
 dict1 = {}; dict2={}
 dict1.update(dice2)
 ```

## 7 분기문(101~130)
---
파이썬은 **if**라는 키워드를 통해 분기문 생성할 수 있다.

In [ ]:
# 101. 파이선에서 True or False를 갖는 데이터 타입은 무엇인가?
#-> BOOL

In [282]:
# 102. 출력 결과 예상
print(3==5) # False

False

In [283]:
# 103. 출력 결과 예상
print(3<5), True

True

In [284]:
# 104. 출력 결과 예상
x=4
print(1<x<5) #True

True

In [286]:
# 105. 출력 결과 예상
print((3==3) and (4!=3)) # True

True

In [287]:
# 106. 에러 발생하는 원잉에 대해 설명
print(3=>4) # 지원하지 않는 연산자.

SyntaxError: ignored

In [288]:
# 107. 출력 결과 예상
if 4<3:
    print('Hello World')
# -> 출력값 없음
# => 조건을 만족하지 않기 때문에 아무 결과도 출력되지 않는다.

In [289]:
# 108. 출력 결과 예상
if 4<3:
    print('Hello World.')
else:
    print('Hi, there.')

# => Hi, there.

Hi, there.

In [290]:
# 109. 출력 결과 예상
if True:
    print('1')
    print('2')
else:
    print('3')
print('4')

# => 1,2,4 // False 없으므로 3 생략

1
2
4

In [291]:
# 110. 출력 결과 예상
if True:
    if False:
        print('1')
        print('2')
    else:
        print('3')
else:
    print('4')

print('5')

# if True -> else 3
# 참조건일 경우 실행(3), 조건문에 속해있지 않음(5)

3
5

In [321]:
# 111. 사용자로부터 입력받은 문자열을 두 번 출력하라. 
users = input('입력값')
print(users*2)

입력값test123
test123test123

In [322]:
# 112. 사용자로부터 하나의 숫자를 입력박도, 입력받은 숫자에 10을 더해 출력
nums = int(input('숫자 입력'))
print(nums+10)

숫자 입력30
40

In [341]:
# 113. 사용자로부터 하나의 숫자를 입력 받고 홀/짝수를 판별
nums = int(input('숫자 입력'))

if nums%2 == 0:
    print('짝')
else: 
    print('홀')

숫자 입력3
홀

In [345]:
# 114. 사용자에게 받은 값에 20을 더한 값 출력 (단, 계산값이 255 초과할 경우 255 출력)
nums = int(input('숫자입력')) + 20
if nums > 255:
    print(255)
else:
    print(nums)

숫자입력230
250

In [349]:
# 115. 입력값에서 20 뺀 값을 출력.
# 단, 출력 범위는 0~255이다.(0보다 작을 경우 0을, 255보다 클 경우 255 출력)

nums = int(input('숫자값'))-20

if nums < 0 :
    print(0)
elif nums > 255:
    print(255)
else:
    print(nums)

숫자값40
20

In [352]:
# 116. 입력받은 시간이 정각인지 판별.
times = input('현재시간(24시 기준)')

if times[-2:] == '00':
    print('정각')
else:
    print('정각이 아님.')

현재시간(24시 기준)1800
정각

In [356]:
# 117. 입력받은 단어가 아래 fruit 리스트에 포함되었는지 출력
fruits = ['사과','포도','홍시']
fru = input()

if fru in fruits:
    print('포함')
else:
    print('미포함')

사과
포함

In [357]:
# 118. 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.
user = input()
warm_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

if user in warm_list:
    print('투자 경고 종목')
else:
    print('미경고')

Microsoft
투자 경고 종목

In [361]:
# 119. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

users=input()
if users in fruit.keys():
    print('정답')
else:
    print('오답')

봄
정답

In [362]:
# 120. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

users = input()
if users in fruit.values():
    print('정답')
else:
    print('오답')

딸기
정답

In [377]:
# 121. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 아닐경우 소문자로 변환
user = input('입력')

if user.islower():
    print(user.upper())
else:
    print(user.lower())

입력ccc
CCC

In [385]:
# 122. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
score = int(input())
if 81 <= score  :
    print('A')
elif 61 <= score <= 80:
    print('B')
elif 41 <= score <= 60:
    print('C')
elif 21 <= score <= 40:
    print('D')
else :
    print('E')

1
E

In [395]:
# 123. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
# 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

환율 = {'달러':1167,'엔':1.096,'유로':1268,'위안':171}

# user = input()
# num,currency = user.split()
# print(float(num)*환율[currency],'원')

user = input()
num,cur = user.split()
print(float(num)*환율[cur],'원')

1400 유로
1775200.0 원

In [401]:
# 124. 세 개의 입력값을 받은 후 가장 큰 숫자 출력
user1=int(input('값 입력'))
user2=int(input('값 입력'))
user3=int(input('값 입력'))

a=[user1,user2,user3]
max(a)

값 입력100
값 입력300
값 입력200

'300'

In [429]:
# 125. 사용자로부터 휴대전화 번호를 입력받고, 통신사 출력하는 프로그램 작성.
telecom = {'SKT': '011','KT': '016','LGU': '019','알수없음': '010'}
telecom={v:k for k,v in telecom.items()}

user = input()
user2 = str(user.split('-')[0])
if user2 in telecom.keys():
    print(telecom[user2])

# >>> 답안 코드 <<<
# number = input("휴대전화 번호 입력: ")
# num = number.split("-")[0]
# if num == "011":
#     com = "SKT"
# elif num == "016":
#     com = "KT"
# elif num == "019":
#     com = "LGU"
# else:
#     com = "알수없음"
# print(f"당신은 {com} 사용자입니다.")

011-2477-7894
SKT

In [432]:
# 126. 사용자로부터 5자리 우편번호 입력받고 구를 판별(앞 3자리는 구)
addres = input()

if addres in ['010','011','012']:
    print('강북구')
elif addres in ['013', '014', '015']:
    print('도봉구')
else:
    print('노원구')

01332
노원구

In [438]:
# 127. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라. (1,3:남자 / 2,4:여자)
jumin = input()
gender = str(jumin.split('-')[1][0])

if gender.endswith(('1','3')):
    print('남자')
else:
    print('여자')

# >>> 답안코드 <<<
주민번호 = input()
주민번호 = 주민번호.split('-')
if 주민번호[0] == '1' or 주민번호[0]=='3':
    print('남자')
else:
    print('여자')

1231510-1216810
남자

In [443]:
# 128. 주민등록번호 받은 후 출생지가 서울인지 아닌지 판단하는 코드 작성.(주민번호 뒤 7자리중 2,3자리는 지역코드 의미)
# 00~08 : 서울, 09~12:부산..
jumin = input()
jumin_back = jumin.split('-')[1]
if 0<=int(jumin_back[1:3]) <= 8:
    print('서울')
else:
    print('서울 아님')

123124-108131584
서울

In [446]:
# 129. 주민번호 유효성 검사
'''
 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.
먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다.
연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
'''

num = input()
calc1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5

calc2 = 11 - (calc1 % 11)
calc3 = str(calc2)

if num[-1] == calc3[-1]:
    print('유효한 주민번호')
else:
    print('유효하지 않은 주민번호')

874680-1039486
유효하지 않은 주민번호

In [453]:
# 130. 비트코인 가격 정보를 딕셔너리로 가져오는 코드이다.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print('상승장',시가+변동폭,최고가)
else:
    print('하락장')

상승장 1492000.0

## 8 반복문(131~200)
---
횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용된다.</br>
while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용된다.

In [454]:
# 131~140. for문의 실행결과 예측
fruit = ['apple','orage','watermelon']
for f in fruit:
    print(f)

apple
orage
watermelon

In [514]:
# 132. for문 실행결과
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####") # 변수 할당 안되었기 때문에 변수만큼의 횟수만 반복한다.

#####
#####
#####

In [518]:
# 133. for문을 풀어 동일한 코드 작성
for var in ['A','B','C']:
    print(var)

var = 'A'
print(var)
var = 'B'
print(var)
var = 'C'
print(var)

A
B
C
A
B
C

In [522]:
# 134. for문을 풀어 동일한 코드 작성
for var in ['A','B','C']:
    print('output :',var)

var='A'
print('output :',var)

output : A
output : B
output : C
output : A

In [526]:
# 135. for문을 풀어 동일한 코드 작성
for var in ['A','B','C']:
    b= var.lower()
    print('transform:',b)

var = 'a'
print('transfomr:',var)
var = 'B'
print('transform:',var.lower())

transform: a
transform: b
transform: c
transfomr: a
transform: b

In [529]:
# 136. 다음 코드를  for문으로 작성
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for i in range(10,40,10):
    print(i)

for i in [10,20,30]:
    print(i)

10
20
30
10
20
30
10
20
30

In [531]:
# 137 다음 코드른 for문으로 작성
print(10)
print(20)
print(30)

for i in [10,20,30]:
    print(i)

10
20
30
10
20
30

In [532]:
# 138.다음 코드를 for문으로 작성
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in range(10,40,10):
    print(i)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [533]:
# 139. 다음 코드를 for문으로 작성
print('++++')
print(10)
print(20)
print(30)

print('++++')
for i in range(10,40,10):
    print(i)

++++
10
20
30
++++
10
20
30

In [535]:
# 140. 다음 코드를 for문으로 작성
print("-------")
print("-------")
print("-------")
print("-------")

for i in range(0,4):
    print('-------')

-------
-------
-------
-------
-------
-------
-------
-------

In [456]:
# 141. 부가세가 포함된 가격을 for문을 활용해 출력.(부가세는 10원으로 가정)
li1 = [100,200,300]
for i in li1:
    print(i+10)

110
210
310

In [457]:
# 142. 저장된 값 출력
menu = ['김','김밥','밥']
for i in menu:
    print('오늘 메뉴:',i)

오늘 메뉴: 김
오늘 메뉴: 김밥
오늘 메뉴: 밥

In [459]:
# 143. 문자열 길이 추출
li2 = ['samsung','LG','apple']
for i in li2:
    print(len(i))

7
2
5

In [460]:
# 144. 문자열과 문자 길이 같이 추출
li2 = ['samsung','LG','apple']
for i in li2:
    print(i,len(i))

samsung 7
LG 2
apple 5

In [461]:
# 145. 문자의 첫 글자만 추출
li2 = ['samsung','LG','apple']
for i in li2:
    print(i[0])

s
L
a

In [470]:
# 146 리스트 안의 숫자를 곱셈 형식으로 표현
li3 = [1,2,3]
for i in li3:
    print('3 *',i)

3 * 1
3 * 2
3 * 3

In [476]:
# 147 리스트 안의 숫자를 곱셈 값 출력
li3 = [1,2,3]
for i in li3:
    print(f'3 * {i} = {3*i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [478]:
# 148
li4 = ['a','b','c','d']
for i in li4[1:]:
    print(i)

b
c
d

In [479]:
# 149
li4 = ['a','b','c','d']
for i in li4[::2]:
    print(i)

a
c

In [480]:
# 150.
li4 = ['a','b','c','d']
for i in li4[::-1]:
    print(i)

d
c
b
a

In [481]:
# 151 음수 출력
li = [3, -20, -3, 44]
for i in li:
    if i < 0 :
        print(i)

-20
-3

In [485]:
# 152. 3 배수만 출력
li = [3,100,23,44]
for i in li:
    if i%3 == 0:
        print(i)

3

In [488]:
# 153. 20보다 작은 3의 배수 출력
li = [3,21,12,14,30,18]
for i in li:
    if (i < 20) and (i%3==0):
        print(i)

3
12
18

In [489]:
# 154. 세 글자 이상의 문자 출력
li = ["I", "study", "python", "language", "!"]

for i in li:
    if len(i) > 3:
        print(i)

study
python
language

In [492]:
# 155. 대문자만 화면에 출력
li = ['A','b','C','d']

for i in li:
    if i.isupper():
        print(i)

A
C

In [539]:
# 156. 소문자만 출력
li = ['A','b','C','d']
for i in li:
    if i.islower():
        print(i)

b
d

In [496]:
# 157. 첫글자 대문자로
li = ['dog','cat','parrot']
for i in li:
    print(i.capitalize())

Dog
Cat
Parrot

In [498]:
# 158 확장자 제거
li = ['hello.py', 'ex01.py', 'intro.hwp']
for i in li:
    print(i.split('.')[0])

hello
ex01
intro

In [542]:
# 159. 확장자가 .h인 파일 이름 출력
li = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in li:
    if i[-1]=='h':
        print(i.split('.')[0])

intra
define

In [504]:
# 160 파일 이름이 저장된 리스트에서 확장자가 .h 또는 .c 인 파일 이름을 출력하라.
li = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in li:
    if ('.c' in i) or ('.h' in i):
        print(i)

intra.h
intra.c
define.h

In [ ]:
# 161. for range사용해 0~99까지 출력
for i in range(100):
    print(i)

In [511]:
# 162. 2002~2050까지 월드컵 개최되는 연도 출력
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [513]:
# 163. 1~30, 3의 배수 출력
for i in range(1,31):
    if i%3 == 0 :
        print(i)

# >>>답안 코드<<<
# for i in range(3,31,3):
#     print(i)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

In [545]:
# 164. 99~0 1씩 감소하는 숫자 출력
for i in range(99,0,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [551]:
# 165. for문을 사용해 0.x 출력
# for i in range(1,10,1):
#     print(f'0.{i}')

# # >>>답안 코드<<<
# for num in range(10):
#     print(num/10, num)

# for num in range(10) :
#     print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [552]:
# 166. 구구단 출력
for i in range(1,10):
    print(f'3 * {i} = {3*i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [557]:
# 167. 구구단 3단 홀수 순서만 출력
for i in range(1,10,2):
    print(f'3 * {i} = {3*i}')

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [570]:
# 168 1~10까지 모두 더한 값 출력
plus=0
for i in range(1,11):
    plus += i
print(plus)

55

In [578]:
# 169. 1~10까지 홀수의 합을 출력하는 for문 작성.
plus1=0
for i in range(1,11,2):
    plus1 += i
print(plus1)

25

In [582]:
# 170. 1~10까지 모두 곱한 값을 출력하는 for문 작성.
multi = 1
for i in range(1,11):
    multi *= i
print(multi)

3628800

In [583]:
# 171. for, range문을 사용해 리스트 데이터 출력
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [584]:
# 172. for, range문을 사용해 리스트 데이터 출력
price_list = [32100, 32150, 32000, 32500]

for p,l in  enumerate(price_list):
    print(p,l)

0 32100
1 32150
2 32000
3 32500

In [593]:
# 173. for, range문을 사용해 리스트 데이터 출력
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [600]:
# 174. for, range문을 사용해 리스트 데이터 출력
price_list=[32100, 32150, 32000, 32500]
        
# >>>정답 코드<<<
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [609]:
# 175. my_list를 아래와 같이 출력
my_list = ['a','b','c','d']
# 가 나
# 나 다
# 다 라

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

a b
b c
c d

In [611]:
# 176. 
my_list = ['가','나','다','라','마']
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [630]:
# 177. 
my_list = ['가','나','다','라']
for i in range(len(my_list)-1,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [643]:
# 178. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
li = [100,200,400,800]

for i in range(len(li)-1):
    print(abs(li[i+1] - li[i]))

100
200
400

In [654]:
# 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
li = [100, 200, 400, 800, 1000, 1300]

for i in range(1,len(li)-1):
    print(abs(li[i-1]+li[i]+li[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [660]:
# 180. 
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때,
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[]
for i in range(0,len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

### 이차원 리스트

In [661]:
# 181. 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의.
apart = [['101호','102호'], ['201호','202호'], ['301호','302호']]

In [662]:
# 182. 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock정의
stock = [['시가',100,200,300], ['종가',80,210,330]]

In [664]:
# 183.
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

stock ={'시가':[100,200,300], '종가':[80,210,330]}

dict_items([('시가', [100, 200, 300]), ('종가', [80, 210, 330])])

In [665]:
# 184. 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.
stock = {'10/10':[80,110,70,90], '10/11':[210,230,190,200]}

In [683]:
# 185.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f'{j}호')

# [j for i in apart for j in i] # 중첩 for문 리스트 컴프리헨션

[101, 102, 201, 202, 301, 302]

In [692]:
# 186. 
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(f'{j}호')

301호
302호
201호
202호
101호
102호

In [695]:
# 187. 
apart = [[101, 102], [201, 202], [301, 302]]
for row in apart[::-1]:
    for col in row[::-1]:
        print(f'{j}호')

302호
301호
202호
201호
102호
101호

In [702]:
# 188.
apart = [[101, 102], [201, 202], [301, 302]]
for r in apart:
    for j in r:
        print(j)
        print('-'*8)

101
--------
102
--------
201
--------
202
--------
301
--------
302
--------

In [703]:
# 189.
apart = [[101, 102], [201, 202], [301, 302]]
for r in apart:
    print('-'*8)
    for j in r:
        print(j)

--------
101
102
--------
201
202
--------
301
302

In [705]:
# 190. 
apart = [[101, 102], [201, 202], [301, 302]]

for r in apart:
    for j in r:
        print(j)
print('-'*8)

101
102
201
202
301
302
--------