# [초보자를 위한 파이썬 300제](https://wikidocs.net/78558)
---
목적 : 파이썬 문법 이해와 기초 코드 연습을 통한 기본기 학습.

## 1 파이썬 시작하기 (1~10)
---
print 함수와 관련된 문제 풀이

In [ ]:
# 1. Hello World 
print('Hello World')

Hello World

In [ ]:
# 2. Mary's cosmetics 
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
# 3.  신씨가 소리질렀다. "도둑이야". 
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
# 4. "C:\windows"
print('"C:\Windows"')

"C:\Windows"

In [ ]:
# 5. \t \n 역할 알기  , \n:줄바꿈 \t:탭
print("안녕.\n 만나서 \t\t 반갑다.")

안녕.
 만나서 		 반갑다.

In [ ]:
# 6. 여러단어 출력
print("오늘은","일요일")

오늘은 일요일

In [ ]:
# 7. naver;kakao;samsung 출력
print('naver;'+'kakao;'+'samsung')
print('naver','kakao','samsung',sep=';')

naver;kakao;samsung
naver;kakao;samsung

In [ ]:
# 8. naver/kakao/samsung 출력
print('naver','kakao','samsung', sep='/')

naver/kakao/samsung

In [ ]:
# 9. print('first');print('second') 공백없이 출력
print('first',end='');print('second')

firstsecond

In [ ]:
# 10. 5/3 결과 출력
print(5/3)

1.6666666666666667

## 2 변수 (11~20)
---
파이썬 변수는 자주 사용되는 값을 바인딩한다. </br>
파이썬 변수의 개념을 이해하고 문제를 풀어보자

In [ ]:
# 11. 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자=50000
총평가액=삼성전자*10
print(총평가액)

# 12. 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
시가총액=298000000000000
현재가=50000
per = 15.79
print(시가총액, type(시가총액))

# 13. 문자열 출력
s='hello'; t='python'
print(s+'!',t)

# 14. 파이썬을 이용한 계산
2+2*3

# 15. type함수
a=123;type(a)

# 16. 문자열을 정수로 변환
num_str = '720'; int(num_str)

# 17. 정수를 문자열 100으로 변환
num=100; str(num)

# 18. 문자열을 실수로 변환
string='15.79'; float(string)

# 19. 문자열을 정수로 변환
year = '2020';
print(int(year)-3, int(year)-2, int(year)-1)

# 20 파이썬 계산
# 에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에 판매되고 있다. 총 금액은 계산한 후 이를 출력
month = 48584 
month*36

500000
298000000000000 <class 'int'>
hello! python
2017 2018 2019

1749024

## 3 문자열(21~50)
---
파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공한다.

In [ ]:
# 21. (문자열 인덱싱) letters가 바인딩하는 문자열에서 첫번째, 세번째 문자 출력
letters = 'python'
print(letters[0],letters[2])

p t

In [ ]:
# 22. (문자열 슬라이싱) 뒤 4자리만 출력
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [ ]:
# 23. (문자열 인덱싱) '홀'만 출력
string = '홀짝홀짝홀짝'
string[::2]

'홀홀홀'

In [ ]:
# 24. (문자열 슬라이싱) 문자열 뒤집어 출력
string = 'PYTHON'
string[::-1]

'NOHTYP'

In [ ]:
# 25.(문자열 치환) - 제거
number = '010-1111-2222'
print(number.replace('-',' '))

010 1111 2222

In [ ]:
# 26. (문자열 다루기) 25번 문제 모두 붙여 출력
number.replace('-','')

'01011112222'

In [ ]:
# 27. (문자열 다루기) 도메인 출력 kr
url = 'http://sharebook.kr'
print(url.split('.')[1])

kr

In [ ]:
# 28. 문자열은 immutable
lang='python'
lang[0]='P'
# 'str' object does not support item assignment

TypeError: ignored

In [ ]:
# 29. replcae 메서드 'a' -> 'A'
string = 'abcdefg12341aa1a12a'
print(string.replace('a','A'))

Abcdefg12341AA1A12A

In [ ]:
# 30. replace 메서드 예상하기
string='abcd'
print(string.replace('b','B'))

aBcd

In [ ]:
# 31. 문자열 합치기
a='3';b='4'
print(a+b)

34

In [ ]:
# 32. 문자열 곱하기
print('Hi'*3)

HiHiHi

In [ ]:
# 33. 문자열 곱하기 - 80번 출력
print('-'*80)

--------------------------------------------------------------------------------

In [ ]:
# 34. 문자열 곱하기
t1 = 'python'; t2 = 'java'
print((t1+' '+t2+' ')*3)

python java python java python java

In [ ]:
# 35. (문자열 출력) %formattinng을 사용해 출력
name1='민수'; age1=10; name2='철희';age2=13

print('이름:%s, 나이:%d' % (name1,age1))

이름:민수, 나이:10

In [ ]:
# 36. (문자열 출력) format() 메서드 사용
format('이름:{}, 나이:{}'.format(name1,age1))

'이름:민수, 나이:10'

In [ ]:
# 37. (문자열 출력) f-string
print(f'이름: {name1}, 나이:{age1}\n이름: {name2}, 나이:{age2}')

이름: 민수, 나이:10
이름: 철희, 나이:13

In [ ]:
# 38. 컴마 제거 및 정수 출력
nums = '5,969,782,550'

In [ ]:
# 39. 문자열 슬라이싱, '2020/03'출력
quarter = '2020/03(E) (IRS연결)'
print(quarter[:7])
print(quarter.split(' ')[0][:-3])

2020/03
2020/03

In [ ]:
# 40. 공백 제거
data = '  삼성전자   '
print(data.strip())

삼성전자

In [ ]:
# 41. upper 메서드 (대문자로 변경)
ticker = 'btn_krw'
ticker.upper()

'BTN_KRW'

In [ ]:
# 42. lower 메서드
ticker = 'BTN_KRW'
ticker.lower()

'btn_krw'

In [ ]:
# 43. capitalize 메서드, hello -> Hello
'hello'.capitalize()

'Hello'

In [ ]:
# 44. (endswith 메서드) 파일 이름이 'xlsx'로 끝나는지 여부 확인
fname = '보고서.xlsx'
fname.endswith('xlsx')

True

In [ ]:
# 45. (endswith 메서드) 파일 이름이 'xlsx' 혹은 'xls'로 끝나는지 확인
fname.endswith(('xlsx','xls'))

True

In [ ]:
# 46. (startswith 메서드) 파일명이 '2020'으로 시작하는지 확인
fname = '2020_보고서.xlsx'
fname.startswith('2020')

True

In [ ]:
# 47. split 메서드, 공백을 기준으로 문자 분할
a= 'hello world'
a.split(' ')

['hello', 'world']

In [ ]:
# 48. btc와 krw로 분할
ticker='btn_krw'
ticker.split('_')

['btn', 'krw']

In [ ]:
# 49. (split 메서드) 연도, 월, 일로 분할
data = '2020-05-01'
data.split('-')

['2020', '05', '01']

In [ ]:
# 50 rstrip 메서드, 오른쪽 공백 제거
data='03091234     '
data.rstrip()

'03091234'

### 알게된 점
 * endswith(('a','b)), 'a' 또는 'b'로 끝나는지 -> 포함여부 확인 가능

## 4 리스트(51 ~ 70)
---
파이썬 리스트는 순서가 있고 수정 가능한 자료구조이다.

In [ ]:
# 51. 리스트 생성
movie_rank = ['닥터 스트레인지','스플릿','럭기']

In [ ]:
# 52. 리스트 원소 추가. (리스트에 '배트맨' 추가)
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭기', '배트맨']

In [ ]:
# 53. '슈퍼맨'을 '닥터 스트레인지'와 '스플릿' 사이에 추가하기.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '배트맨')
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 54. movie_rank에 '럭키'를 삭제
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '배트맨']

In [ ]:
# 55. movie_rank 리스트에서 '스플릿'과 배트맨을 삭제하라
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 56. lang1과 lang2 리스트가 있을때 lang1과 lang2의 원소를 모드 갖고 있는 langs 리스트를 만들어라.
lang1 = ['C', 'C++','JAVA']
lang2 = ['Python','Go','C#']
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 57. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트:min(), max() 함수 사용)
nums = [1,2,3,4,5,6,7]
print(f'최솟값 : {min(nums)}\n최댓값 : {max(nums)}')

최솟값 : 1
최댓값 : 7

In [ ]:
# 58. 리스트 합을 출력.
nums = [1,2,3,4,5]
sum(nums)

15

In [ ]:
# 59. 저장된 데이터의 개수를 출력.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

# from collections import Counter
# Counter(cook), 원소 갯수 합 출력

12

In [ ]:
# 61. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [ ]:
# 62. 슬라이싱을 사용해 홀수만 출력
nums=[1,2,3,4,5,6,7,8,9,10]
nums[::2]

[1, 3, 5, 7, 9]

In [ ]:
# 63. 슬라이싱을 사용해 짝수만 출력
nums=[1,2,3,4,5,6,7,8,9,10]
nums[1::2]

[2, 4, 6, 8, 10]

In [ ]:
# 64. 슬라이싱을 사용해 리스트의 숫자를 역방향으로 출력
nums = [1,2,3,4,5]
nums[::-1]

[5, 4, 3, 2, 1]

In [ ]:
# 65 insert 리스트를 사용해 출력
interset = ['삼성전자','LG전자','Naver']
print(interset[0],interset[2])

삼성전자 Naver

In [ ]:
# 66. join 메서드
interset = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print(" ".join(interset))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 67. join 메서드
interset = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print("/".join(interset))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 68. join 메서드
interset = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print("\n".join(interset))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 69. 문자열 split 메서드
string = '삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'
string.split('/')

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [ ]:
# 70. 리스트 정렬(오름차순)
data = [2,4,3,1,5,10,9]
sorted(data)

[1, 2, 3, 4, 5, 9, 10]

## 5 튜플(71~80)
---
순서가 있지만 수정 불가능한 자료구조

In [ ]:
# 71. my_variable 이름의 비어있는 튜플 생성
my_variable=()

tuple

In [ ]:
# 72. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
movie_rank = ('닥터 스트레인지','스플릿','럭키')

In [ ]:
# 73. 숫자 1이 저장된 튜플 생성
my_tuple = (1)
type(my_tuple)
# -> 하나의 정숫값을 저장하면 튜플이 아닌 정수로 인식한다.

my_tuple2 = (1,)
# -> 하나의 데이터가 저장되는 경우, 쉼표를 입력해야 한다.

print(type(my_tuple), type(my_tuple2))

<class 'int'> <class 'tuple'>

In [ ]:
# 74. 다음 코드를 실행하고 오류가 발생하는 원인 설명
t=(1,2,3)
t[0] = 'a'

#=> tuple은 원소의 값을 변경할 수 없다.

In [ ]:
# 75. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t=1,2,3

# -> 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 괄호 없이도 동작 가능하다.

In [ ]:
# 76. 변수 t에는 아래과 같은 값이 저장되어 있다. 변수 t가 ('A','b','c') 튜플을 가리키도록 수정하라.
t=('a','b','c')

# => 튜플 값은 변경 불가. 따라서 새로운 튜플을 만들고 t라는 변수를 업데이트 해야한다.
t=('A','b','c')

In [ ]:
# 77. 다음 튜플을 리스트로 변환하라.
interset = ('삼성전자','LG전자','SK하이닉스')
list(interset)

['삼성전자', 'LG전자', 'SK하이닉스']

In [ ]:
# 78. 다름 리스트를 튜플로 변환하라
interset = ['삼성전자','LG전자','SK하이닉스']
tuple(interset)

('삼성전자', 'LG전자', 'SK하이닉스')

In [ ]:
# 79. 튜플 언팩킹
temp = ('apple','banana','cake')
a,b,c = temp
print(a,b,c)

apple banana cake

In [ ]:
# 80. range 함수
# 1~99까지 짝수만 저장된 튜플을 생성.
tuple(range(2,100,2))

# num_tuple=tuple(range(1,100))
# num_tuple[1::2]

### 알게된 점
 * 튜플은 괄호를 생략해도 지정이 가능하다.
 * 하나의 정숫값을 입력할때는 뒤에 쉼표를 붙여야 튜플로 저장된다.

## 6 딕셔너리(81~100)
---
순서는 없지만 key, value 형태로 데이터를 저장한다. </br>
특히 key는 데이터의 레이블(label)을 지정하는 용도로 자주 사용된다.

In [ ]:
# 81. 별 표현식
'''
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.
'''
a,b,*c=(0,1,2,3,4,5)
print(a,b,c)

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용해 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b=scores
print(valid_score, a,b)

0 1 [2, 3, 4, 5]
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] 7.8 9.4

In [ ]:
# 82. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용해 우측 8개의 값을 valid_score 변수에 바인딩 하여라
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,__,*valid = scores
print(_,__,valid)

8.8 8.9 [8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
# 83. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression 을 사용해 가운데 있는 8개의 값을 valid_score 변수에 바인딩 하여라
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid,__ = scores
print(_, valid, __)

8.8 [8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8] 9.4

In [ ]:
# 84. 빈 딕셔너리
# temp이름의 빈 딕셔너리 생성
temp={}

In [ ]:
# 85. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하여라.
ice = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
# 86. 위 85번의 딕셔너리에 자료 추가
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 87. 다음 딕셔너리를 사용해 메로나 가격을 출력
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
print('메로나 가격 :', ice['메로나'])

메로나 가격 : 1000

In [ ]:
# 88. 다음 딕셔너리에서 메로나 가격을 1300으로 수정.
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
ice['메로나']=1300

{'메로나': 1300, '빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴로포': 1200}

In [ ]:
# 89. 다음 딕셔너리에서 메로나를 삭제
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
del ice['메로나']

{'빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴로포': 1200}

In [ ]:
# 90. 에러가 발생한 원인 찾기
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# -> 사전에 없는 key값 호출로 인한 에러

In [ ]:
# 91. 딕셔너리 생성(딕셔너리명 : inventory)
# 아이스크림 이름을 키값으로,(가격,재고)리스트를 딕셔너리 값으로 저장.
inventory = {'메로나':[300,200], '비비빅':[400,3], '죠스바':[250,100]}

{'메로나': [300, 200], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
#  92. 딕셔너리 인덱싱, 메로나 가격 출력
print(inventory['메로나'][0],'원')

300 원

In [ ]:
# 93. 딕셔너리 인덱싱, 메로나 재고 출력
inventory['메로나'][1]

200

In [ ]:
# 94. 딕셔너리 추가
inventory['월드콘'] = [500,7]

In [ ]:
# 95. 딕셔너리 keys() 메서드, 다음의 딕셔너리에서 key 값으로만 구성된 리스트 생성.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 96. 딕셔너리 values()
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 98. 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecreame 딕셔너리에 추가
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
# 99. zip과 dict
# 아래 두개의 튜플을 하나의 딕셔너리로 변환. keys를 키로, result의 이름을 value 값으로 저장.
keys = ('apple','pear','peach')
vals = (300, 250,400)

result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

{'apple': 300, 'peach': 400, 'pear': 250}

In [ ]:
# 100.zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성.
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

### 알게된 점 
 * 별 표현식
  
   ```
   start expression 사용시 변수의 갯수가 달라도 언패킹 할 수 있다.

   예시) 
   scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
    *valid_score,a,b=scores
    print(valid_score, a,b)

    >> [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] 7.8 9.4

 * 딕셔너리 자료 추가
  ```
  딕셔너리명['새로운 key값'] = value값
  예시)
  ice['죠스바'] = 1200
  ```

 * 딕셔너리 간 결합
 ```
 dict1 = {}; dict2={}
 dict1.update(dice2)
 ```

## 7 분기문(101~130)
---
파이썬은 **if**라는 키워드를 통해 분기문 생성할 수 있다.

In [ ]:
# 101. 파이선에서 True or False를 갖는 데이터 타입은 무엇인가?
#-> BOOL

In [ ]:
# 102. 출력 결과 예상
print(3==5) # False

False

In [ ]:
# 103. 출력 결과 예상
print(3<5), True

True

In [ ]:
# 104. 출력 결과 예상
x=4
print(1<x<5) #True

True

In [ ]:
# 105. 출력 결과 예상
print((3==3) and (4!=3)) # True

True

In [ ]:
# 106. 에러 발생하는 원잉에 대해 설명
print(3=>4) # 지원하지 않는 연산자.

SyntaxError: ignored

In [ ]:
# 107. 출력 결과 예상
if 4<3:
    print('Hello World')
# -> 출력값 없음
# => 조건을 만족하지 않기 때문에 아무 결과도 출력되지 않는다.

In [ ]:
# 108. 출력 결과 예상
if 4<3:
    print('Hello World.')
else:
    print('Hi, there.')

# => Hi, there.

Hi, there.

In [ ]:
# 109. 출력 결과 예상
if True:
    print('1')
    print('2')
else:
    print('3')
print('4')

# => 1,2,4 // False 없으므로 3 생략

1
2
4

In [ ]:
# 110. 출력 결과 예상
if True:
    if False:
        print('1')
        print('2')
    else:
        print('3')
else:
    print('4')

print('5')

# if True -> else 3
# 참조건일 경우 실행(3), 조건문에 속해있지 않음(5)

3
5

In [ ]:
# 111. 사용자로부터 입력받은 문자열을 두 번 출력하라. 
users = input('입력값')
print(users*2)

입력값test123
test123test123

In [ ]:
# 112. 사용자로부터 하나의 숫자를 입력박도, 입력받은 숫자에 10을 더해 출력
nums = int(input('숫자 입력'))
print(nums+10)

숫자 입력30
40

In [ ]:
# 113. 사용자로부터 하나의 숫자를 입력 받고 홀/짝수를 판별
nums = int(input('숫자 입력'))

if nums%2 == 0:
    print('짝')
else: 
    print('홀')

숫자 입력3
홀

In [ ]:
# 114. 사용자에게 받은 값에 20을 더한 값 출력 (단, 계산값이 255 초과할 경우 255 출력)
nums = int(input('숫자입력')) + 20
if nums > 255:
    print(255)
else:
    print(nums)

숫자입력230
250

In [ ]:
# 115. 입력값에서 20 뺀 값을 출력.
# 단, 출력 범위는 0~255이다.(0보다 작을 경우 0을, 255보다 클 경우 255 출력)

nums = int(input('숫자값'))-20

if nums < 0 :
    print(0)
elif nums > 255:
    print(255)
else:
    print(nums)

숫자값40
20

In [ ]:
# 116. 입력받은 시간이 정각인지 판별.
times = input('현재시간(24시 기준)')

if times[-2:] == '00':
    print('정각')
else:
    print('정각이 아님.')

현재시간(24시 기준)1800
정각

In [ ]:
# 117. 입력받은 단어가 아래 fruit 리스트에 포함되었는지 출력
fruits = ['사과','포도','홍시']
fru = input()

if fru in fruits:
    print('포함')
else:
    print('미포함')

사과
포함

In [ ]:
# 118. 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.
user = input()
warm_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

if user in warm_list:
    print('투자 경고 종목')
else:
    print('미경고')

Microsoft
투자 경고 종목

In [ ]:
# 119. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

users=input()
if users in fruit.keys():
    print('정답')
else:
    print('오답')

봄
정답

In [ ]:
# 120. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

users = input()
if users in fruit.values():
    print('정답')
else:
    print('오답')

딸기
정답

In [ ]:
# 121. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 아닐경우 소문자로 변환
user = input('입력')

if user.islower():
    print(user.upper())
else:
    print(user.lower())

입력ccc
CCC

In [ ]:
# 122. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
score = int(input())
if 81 <= score  :
    print('A')
elif 61 <= score <= 80:
    print('B')
elif 41 <= score <= 60:
    print('C')
elif 21 <= score <= 40:
    print('D')
else :
    print('E')

1
E

In [ ]:
# 123. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
# 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

환율 = {'달러':1167,'엔':1.096,'유로':1268,'위안':171}

# user = input()
# num,currency = user.split()
# print(float(num)*환율[currency],'원')

user = input()
num,cur = user.split()
print(float(num)*환율[cur],'원')

1400 유로
1775200.0 원

In [ ]:
# 124. 세 개의 입력값을 받은 후 가장 큰 숫자 출력
user1=int(input('값 입력'))
user2=int(input('값 입력'))
user3=int(input('값 입력'))

a=[user1,user2,user3]
max(a)

값 입력100
값 입력300
값 입력200

'300'

In [ ]:
# 125. 사용자로부터 휴대전화 번호를 입력받고, 통신사 출력하는 프로그램 작성.
telecom = {'SKT': '011','KT': '016','LGU': '019','알수없음': '010'}
telecom={v:k for k,v in telecom.items()}

user = input()
user2 = str(user.split('-')[0])
if user2 in telecom.keys():
    print(telecom[user2])

# >>> 답안 코드 <<<
# number = input("휴대전화 번호 입력: ")
# num = number.split("-")[0]
# if num == "011":
#     com = "SKT"
# elif num == "016":
#     com = "KT"
# elif num == "019":
#     com = "LGU"
# else:
#     com = "알수없음"
# print(f"당신은 {com} 사용자입니다.")

011-2477-7894
SKT

In [ ]:
# 126. 사용자로부터 5자리 우편번호 입력받고 구를 판별(앞 3자리는 구)
addres = input()

if addres in ['010','011','012']:
    print('강북구')
elif addres in ['013', '014', '015']:
    print('도봉구')
else:
    print('노원구')

01332
노원구

In [ ]:
# 127. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라. (1,3:남자 / 2,4:여자)
jumin = input()
gender = str(jumin.split('-')[1][0])

if gender.endswith(('1','3')):
    print('남자')
else:
    print('여자')

# >>> 답안코드 <<<
주민번호 = input()
주민번호 = 주민번호.split('-')
if 주민번호[0] == '1' or 주민번호[0]=='3':
    print('남자')
else:
    print('여자')

1231510-1216810
남자

In [ ]:
# 128. 주민등록번호 받은 후 출생지가 서울인지 아닌지 판단하는 코드 작성.(주민번호 뒤 7자리중 2,3자리는 지역코드 의미)
# 00~08 : 서울, 09~12:부산..
jumin = input()
jumin_back = jumin.split('-')[1]
if 0<=int(jumin_back[1:3]) <= 8:
    print('서울')
else:
    print('서울 아님')

123124-108131584
서울

In [ ]:
# 129. 주민번호 유효성 검사
'''
 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.
먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다.
연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
'''

num = input()
calc1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5

calc2 = 11 - (calc1 % 11)
calc3 = str(calc2)

if num[-1] == calc3[-1]:
    print('유효한 주민번호')
else:
    print('유효하지 않은 주민번호')

874680-1039486
유효하지 않은 주민번호

In [ ]:
# 130. 비트코인 가격 정보를 딕셔너리로 가져오는 코드이다.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print('상승장',시가+변동폭,최고가)
else:
    print('하락장')

상승장 1492000.0

## 8 반복문(131~200)
---
횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용된다.</br>
while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용된다.

In [ ]:
# 131~140. for문의 실행결과 예측
fruit = ['apple','orage','watermelon']
for f in fruit:
    print(f)

apple
orage
watermelon

In [ ]:
# 132. for문 실행결과
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####") # 변수 할당 안되었기 때문에 변수만큼의 횟수만 반복한다.

#####
#####
#####

In [ ]:
# 133. for문을 풀어 동일한 코드 작성
for var in ['A','B','C']:
    print(var)

var = 'A'
print(var)
var = 'B'
print(var)
var = 'C'
print(var)

A
B
C
A
B
C

In [ ]:
# 134. for문을 풀어 동일한 코드 작성
for var in ['A','B','C']:
    print('output :',var)

var='A'
print('output :',var)

output : A
output : B
output : C
output : A

In [ ]:
# 135. for문을 풀어 동일한 코드 작성
for var in ['A','B','C']:
    b= var.lower()
    print('transform:',b)

var = 'a'
print('transfomr:',var)
var = 'B'
print('transform:',var.lower())

transform: a
transform: b
transform: c
transfomr: a
transform: b

In [ ]:
# 136. 다음 코드를  for문으로 작성
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for i in range(10,40,10):
    print(i)

for i in [10,20,30]:
    print(i)

10
20
30
10
20
30
10
20
30

In [ ]:
# 137 다음 코드른 for문으로 작성
print(10)
print(20)
print(30)

for i in [10,20,30]:
    print(i)

10
20
30
10
20
30

In [ ]:
# 138.다음 코드를 for문으로 작성
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in range(10,40,10):
    print(i)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [ ]:
# 139. 다음 코드를 for문으로 작성
print('++++')
print(10)
print(20)
print(30)

print('++++')
for i in range(10,40,10):
    print(i)

++++
10
20
30
++++
10
20
30

In [ ]:
# 140. 다음 코드를 for문으로 작성
print("-------")
print("-------")
print("-------")
print("-------")

for i in range(0,4):
    print('-------')

-------
-------
-------
-------
-------
-------
-------
-------

In [ ]:
# 141. 부가세가 포함된 가격을 for문을 활용해 출력.(부가세는 10원으로 가정)
li1 = [100,200,300]
for i in li1:
    print(i+10)

110
210
310

In [ ]:
# 142. 저장된 값 출력
menu = ['김','김밥','밥']
for i in menu:
    print('오늘 메뉴:',i)

오늘 메뉴: 김
오늘 메뉴: 김밥
오늘 메뉴: 밥

In [ ]:
# 143. 문자열 길이 추출
li2 = ['samsung','LG','apple']
for i in li2:
    print(len(i))

7
2
5

In [ ]:
# 144. 문자열과 문자 길이 같이 추출
li2 = ['samsung','LG','apple']
for i in li2:
    print(i,len(i))

samsung 7
LG 2
apple 5

In [ ]:
# 145. 문자의 첫 글자만 추출
li2 = ['samsung','LG','apple']
for i in li2:
    print(i[0])

s
L
a

In [ ]:
# 146 리스트 안의 숫자를 곱셈 형식으로 표현
li3 = [1,2,3]
for i in li3:
    print('3 *',i)

3 * 1
3 * 2
3 * 3

In [ ]:
# 147 리스트 안의 숫자를 곱셈 값 출력
li3 = [1,2,3]
for i in li3:
    print(f'3 * {i} = {3*i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [ ]:
# 148
li4 = ['a','b','c','d']
for i in li4[1:]:
    print(i)

b
c
d

In [ ]:
# 149
li4 = ['a','b','c','d']
for i in li4[::2]:
    print(i)

a
c

In [ ]:
# 150.
li4 = ['a','b','c','d']
for i in li4[::-1]:
    print(i)

d
c
b
a

In [ ]:
# 151 음수 출력
li = [3, -20, -3, 44]
for i in li:
    if i < 0 :
        print(i)

-20
-3

In [ ]:
# 152. 3 배수만 출력
li = [3,100,23,44]
for i in li:
    if i%3 == 0:
        print(i)

3

In [ ]:
# 153. 20보다 작은 3의 배수 출력
li = [3,21,12,14,30,18]
for i in li:
    if (i < 20) and (i%3==0):
        print(i)

3
12
18

In [ ]:
# 154. 세 글자 이상의 문자 출력
li = ["I", "study", "python", "language", "!"]

for i in li:
    if len(i) > 3:
        print(i)

study
python
language

In [ ]:
# 155. 대문자만 화면에 출력
li = ['A','b','C','d']

for i in li:
    if i.isupper():
        print(i)

A
C

In [ ]:
# 156. 소문자만 출력
li = ['A','b','C','d']
for i in li:
    if i.islower():
        print(i)

b
d

In [ ]:
# 157. 첫글자 대문자로
li = ['dog','cat','parrot']
for i in li:
    print(i.capitalize())

Dog
Cat
Parrot

In [ ]:
# 158 확장자 제거
li = ['hello.py', 'ex01.py', 'intro.hwp']
for i in li:
    print(i.split('.')[0])

hello
ex01
intro

In [ ]:
# 159. 확장자가 .h인 파일 이름 출력
li = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in li:
    if i[-1]=='h':
        print(i.split('.')[0])

intra
define

In [ ]:
# 160 파일 이름이 저장된 리스트에서 확장자가 .h 또는 .c 인 파일 이름을 출력하라.
li = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in li:
    if ('.c' in i) or ('.h' in i):
        print(i)

intra.h
intra.c
define.h

In [ ]:
# 161. for range사용해 0~99까지 출력
for i in range(100):
    print(i)

In [ ]:
# 162. 2002~2050까지 월드컵 개최되는 연도 출력
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 163. 1~30, 3의 배수 출력
for i in range(1,31):
    if i%3 == 0 :
        print(i)

# >>>답안 코드<<<
# for i in range(3,31,3):
#     print(i)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

In [ ]:
# 164. 99~0 1씩 감소하는 숫자 출력
for i in range(99,0,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# 165. for문을 사용해 0.x 출력
# for i in range(1,10,1):
#     print(f'0.{i}')

# # >>>답안 코드<<<
# for num in range(10):
#     print(num/10, num)

# for num in range(10) :
#     print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166. 구구단 출력
for i in range(1,10):
    print(f'3 * {i} = {3*i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 167. 구구단 3단 홀수 순서만 출력
for i in range(1,10,2):
    print(f'3 * {i} = {3*i}')

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [ ]:
# 168 1~10까지 모두 더한 값 출력
plus=0
for i in range(1,11):
    plus += i
print(plus)

55

In [ ]:
# 169. 1~10까지 홀수의 합을 출력하는 for문 작성.
plus1=0
for i in range(1,11,2):
    plus1 += i
print(plus1)

25

In [ ]:
# 170. 1~10까지 모두 곱한 값을 출력하는 for문 작성.
multi = 1
for i in range(1,11):
    multi *= i
print(multi)

3628800

In [ ]:
# 171. for, range문을 사용해 리스트 데이터 출력
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172. for, range문을 사용해 리스트 데이터 출력
price_list = [32100, 32150, 32000, 32500]

for p,l in  enumerate(price_list):
    print(p,l)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173. for, range문을 사용해 리스트 데이터 출력
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174. for, range문을 사용해 리스트 데이터 출력
price_list=[32100, 32150, 32000, 32500]
        
# >>>정답 코드<<<
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
# 175. my_list를 아래와 같이 출력
my_list = ['a','b','c','d']
# 가 나
# 나 다
# 다 라

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

a b
b c
c d

In [ ]:
# 176. 
my_list = ['가','나','다','라','마']
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177. 
my_list = ['가','나','다','라']
for i in range(len(my_list)-1,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
# 178. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
li = [100,200,400,800]

for i in range(len(li)-1):
    print(abs(li[i+1] - li[i]))

100
200
400

In [ ]:
# 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
li = [100, 200, 400, 800, 1000, 1300]

for i in range(1,len(li)-1):
    print(abs(li[i-1]+li[i]+li[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180. 
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때,
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[]
for i in range(0,len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

### 이차원 리스트

In [ ]:
# 181. 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의.
apart = [['101호','102호'], ['201호','202호'], ['301호','302호']]

In [ ]:
# 182. 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock정의
stock = [['시가',100,200,300], ['종가',80,210,330]]

In [ ]:
# 183.
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

stock ={'시가':[100,200,300], '종가':[80,210,330]}

dict_items([('시가', [100, 200, 300]), ('종가', [80, 210, 330])])

In [ ]:
# 184. 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.
stock = {'10/10':[80,110,70,90], '10/11':[210,230,190,200]}

In [ ]:
# 185.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f'{j}호')

# [j for i in apart for j in i] # 중첩 for문 리스트 컴프리헨션

[101, 102, 201, 202, 301, 302]

In [ ]:
# 186. 
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(f'{j}호')

301호
302호
201호
202호
101호
102호

In [ ]:
# 187. 
apart = [[101, 102], [201, 202], [301, 302]]
for row in apart[::-1]:
    for col in row[::-1]:
        print(f'{j}호')

302호
301호
202호
201호
102호
101호

In [ ]:
# 188.
apart = [[101, 102], [201, 202], [301, 302]]
for r in apart:
    for j in r:
        print(j)
        print('-'*8)

101
--------
102
--------
201
--------
202
--------
301
--------
302
--------

In [ ]:
# 189.
apart = [[101, 102], [201, 202], [301, 302]]
for r in apart:
    print('-'*8)
    for j in r:
        print(j)

--------
101
102
--------
201
202
--------
301
302

In [ ]:
# 190. 
apart = [[101, 102], [201, 202], [301, 302]]

for r in apart:
    for j in r:
        print(j)
print('-'*8)

101
102
201
202
301
302
--------

In [ ]:
# 191. data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
data = [[ 2000,  3050,  2050,  1980],[ 7500,  2050,  2050,  1980],[15450, 15050, 15550, 14900]]

for d in data:
    for a in d:
        print(a*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 192. 위 결과에 행단위로 '----'구분 기호 삽입
for d in data:
    print('-'*8)
    for a in d:
        print(a*1.00014)

--------
2000.28
3050.427
2050.2870000000003
1980.2772
--------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
--------
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 193. 위 문제 결괏값을 result 이름의 리스트에 1차원 배열로 저장.
result = []
for d in data:
    for a in d:
        result.append(a*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 194. 191번의 결괏값을 result 이름의 리스트에 2차원 배열로 저장.
data = [[ 2000,  3050,  2050,  1980],[ 7500,  2050,  2050,  1980],[15450, 15050, 15550, 14900]]

result = []
for d in data:
    sub=[]
    for a in d:
        sub.append(a * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
# 195. ohlc 리스트에는 시가(open), 고가(high), 저가(low), 종가(close) 가 날짜별로 저장돼 있다. 화면에 종가 데이터를 출력하라.
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
for r in ohlc[1:]:
    print(r[3])

100
190
310

In [ ]:
# 196. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]

for o in ohlc[1:]:
    if o[3] > 150:
        print(o[3])

190
310

In [ ]:
# 197. 종가가 시가보다 크거나 같은 경우에만 종가를 출력하가.
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
for o in ohlc:
    if (o[3] >= o[0]):
        print(o[3])

100
310

In [ ]:
# 198. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]

volatility=[]
for o in ohlc[1:]:
    volatility.append(o[1] - o[2])
print(volatility)

[40, 30, 10]

In [ ]:
# 199.리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]

for o in ohlc[1:]:
    if o[3] > o[0]:
        print(o[1] - o[2])

10

In [ ]:
# 200. 시가에 매수해서 종가에 매도했을 경우 총 수익금을 계산.
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]

profit= 0
for o in ohlc[1:]:
    profit += (o[3] - o[0])
print(profit)

0

## 9 함수(200~240)
---
* 함수란 자주 사용하는 코드에 대한 이름표이다.
* 변수가 어떤 값을 바인딩하는 것처럼 함수는 어떤 코드를 바인딩한다.
* 중첩함수의 사용

In [ ]:
# 201. '비트코인' 문자열을 화면에 출력하는 print_coin() 함수를 정의하라
def print_coin(args='비트코인'):
    print(args)

In [ ]:
# 202. 201 함수 출력
print_coin()

비트코인

In [ ]:
# 203. 201에서 정의한 print_coin() 함수를 100번 출력.
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 204. '비트코인' 문자열 100번 출력하는 print_coins() 함수 정의
def print_coins(args='비트코인',ranges=100):
    for i in range(ranges):
        print(args)
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 205. 아래의 에러가 발생하는 이유에 대해 설명
hello()
def hello():
    print('Hi')

# -> 함수 정의되기 전에 호출했기 때문

NameError: ignored

In [ ]:
# 206. 아래 코드의 실행 결과를 예측하라.
def message():
    print('A')
    print('B')

message()
print('C')
message()

# => ABCAB

A
B
C
A
B

In [ ]:
# 207. 아래 코드의 실행 결과 예측.
print('A')

def message1():
    print('B')
print('C')
def message2():
    print('D')

message1()
print('E')
message2()

# ACBED

A
C
B
E
D

In [ ]:
# 208. 실핼 결과 예측.
print('A')
def message1():
    print('B')
print('C')
def message2():
    print('D')

message1()
print('E')
message2()
# ACBED

A
C
B
E
D

In [ ]:
# 209. 실행 결과 예측.
def message1():
    print('A')

def message2():
    print('B')
    message1()

message2()
# BA

B
A

In [ ]:
# 210. 실행 결과 예측
def message1():
    print('A')

def message2():
    print('B')

def message3():
    for i in range(3):
        message2()
        print('C')
    message1()

message3()
# BCBCBCA

B
C
B
C
B
C
A

In [ ]:
# 211. 호출 결과 예측
def 함수(문자열):
    print(문자열)

함수('안녕')
함수('Hi')

# 안녕 Hi

안녕
Hi

In [ ]:
# 212. 호출 결과 예측
def plus(a,b):
    print(a+b)
plus(3,4) ; plus(7,8)

7
15

In [ ]:
# 213. 에러 발생 원인 설명
def 함수(문자열):
    print(문자열)

함수()
# TypeError: 함수() missing 1 required positional argument: '문자열'
# -> 함수()에 인자(파라미터)가 전달되지 않았기 때문.(함수의 정의와 다르게 함수를 호출하고 있다.)

TypeError: ignored

In [ ]:
# 214. 에러 발생 원인 설명
def fun(a,b):
    print(a+b)

fun('Hi',3)
# can only concatenate str (not "int") to str
# 데이터 타입이 달라 연산(덧셈) 불가.

TypeError: ignored

In [ ]:
# 215. 하나의 문자열을 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라

def print_with_smile(input_val):
    print(input_val+':D')

print_with_smile('lalalal')

lalalal:D

In [ ]:
# 216. 215에서 정의한 함수 호출.(파라미터는 '안녕하세요'로 입력)
print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
# 217. 현재 가격을 입력 받아 상한가(30%) 출력하는 print_upper_price 함수 정의.
def print_upper_price(num):
    print(num*1.3)

In [ ]:
# 218. 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수 정의
def print_sum(a,b):
    print(a+b)

In [ ]:
# 219. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성.
def print_arithmetic_operation(a,b):
    a=int(a); b=int(b)

    print(f'{a} + {b} = {a+b}')
    print(f'{a} - {b} = {a-b}')
    print(f'{a} * {b} = {a*b}')
    print(f'{a} / {b} = {a/b}')

print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
# 220.세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수 정의. (단 if문을 사용해서 수를 비교.)
def print_max(a,b,c):
    max_val = 0
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val=c
    print(max_val)

In [ ]:
# 221. 입력된 문자열을 역순으로 출력하는 print_reverse 함수 정의
def print_reverse(str):
    print(str[::-1])

print_reverse('python')

nohtyp

In [ ]:
# 222. 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수 정의.
def print_score(li):
    print(sum(li)/len(li))

In [ ]:
# 223. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수 정의
def print_even(li):
    print([i for i in li if i%2==0])

# >>>답안 코드<<<
# def print_even(my_list):
    # for v in my_list:
    #     if v%2 == 0:
    #         print(v)

[10, 22]

In [ ]:
# 224. 하나의 딕셔너리를 입력받아 딕셔너리의 key값을 화면에 출력하는 print_keys 함수를 정의하라.
def print_keys(di1):
    for keys in di1.keys():
        print(keys)

print_keys({'1번':100,'2번':200})

1번
2번

In [ ]:
# 225. my_dict에는 날짜를 키값으로 ohlc가 리스트로 저장돼 있다.
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.
my_dict={'10/26':[100,130,100,100], '10/27':[10,12,10,11]}
def print_value_by_key(d1, keys):
    print(d1[keys])

print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [ ]:
# 226. 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성.
def print_5xn(str1):
    nums = int(len(str1)/5)
    for n in range(nums+1):
        print(str1[n*5:n*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 227. 문자열과 한줄에 출력될 글자 수를 입력받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 출력
def print_mxn(strg, nums):
    num = int(len(strg)/nums)
    for n in range(num+1):
        print(strg[n*nums : n*nums+nums])

print_mxn(str1,4)

아이엠어
보이유알
어걸

In [ ]:
# 228. 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.
# def calc_monthly_salary(annual_salary):
#     print(round(annual_salary/12))

# >>>정답 코드<<<
def calc_monthly_salary(annual_salary):
    monthly_pay = int(annual_salary/12)
    return monthly_pay
calc_monthly_salary(2333300)

194441

In [ ]:
# 229. 실행 결과 예측
def my_print(a,b):
    print('왼쪽',a)
    print('오른쪽',b)

my_print(a=100,b=200)
# 왼쪽 100 오른쪽 200

왼쪽 100
오른쪽 200

In [ ]:
# 230. 실행 결과 예측
def my_print(a,b):
    print('left',a)
    print('right',b)

my_print(b=100,a=200)
# left 200 right 100

left 200
right 100

### 1) return

In [ ]:
# 231. 실행 결과 예측
def n_plus_1(n):
    result = n+1

n_plus_1(3) 
print(result)

# 출력 안된다. print 또는 return 구문이 없기 때문
# 함수 내부에서 사용한 변수는 함수 밖에서 접근이 불가능. 그러므로 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야한다.

NameError: ignored

In [ ]:
# 232. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의.
def make_url(string):
    print('www.'+string+'.com')

# >>>답안<<<
def make_url(string):
    return 'www.'+string+'.com'
    
make_url('naver')

www.naver.com

In [ ]:
# 233. 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수 정의
def make_list(string):
    my_list = [i for i in string]
    return my_list

make_list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
# 234. 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even()함수 구현
def pickup_even(li):
    even = [i for i in li if i%2==0]
    return even


# >>>답안<<<
# def pickup_even(items):
#     result = []
#     for item in items:
#         if item%2==0:
#             result.append(item)
#     return result

pickup_even([10,20,33,55])

[10, 20]

In [ ]:
# 235. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수 정의
def convert_int(string):
    results = int(string.replace(',',''))
    return results

# >>>답안<<<
def convert_int(string):
    return int(string.replace(',',''))

convert_int('122,333,400')

122333400

In [ ]:
# 236. 실행 결과 예측
def fun(num):
    return num+4

a=fun(10) # 14
b=fun(a)  # 18
c=fun(b)  # 22

print(c)

22

In [ ]:
# 237.실행 결과 예측
def fun(num):
    return num+4

c = fun(fun(fun(10))) # 22
print(c)

22

In [ ]:
# 238. 실행 결과 예측
def fun1(num):
    return num+4

def fun2(num):
    return num*10

a=fun1(10) #14
c=fun2(a)  #140
print(c)   #140

140

### 2) 중첩 함수

In [ ]:
# 239. 실행 결과 예측(중첩함수)
def fun1(num):
    return num+4

def fun2(num):
    num +=2
    return fun1(num)

c=fun2(10)
print(c)  # 16

16

In [ ]:
# 240. 실행 결과 예측
def fun0(num):
    return num*2

def fun1(num):
    return fun0(num+2)

def fun2(num):
    num += 10
    return fun1(num)

c=fun2(2)
print(c) # 28

28

## 10 모듈(241~250)
---
* 모듈은 **파이썬 파일**을 의미한다.
* 파이썬은 분야별 다양한 모듈을 제공.
* 프로그램구현에 필요한 모듈의 기초 사용법 학습.

In [ ]:
# 241.현재시간 (datetime 모듈을 사용해 현재 시간을 화면에 출력)
from datetime import datetime
datetime.now()

# >>>답안<<<
# import datetime
# datetime.datetime.now()

datetime.datetime(2021, 3, 11, 8, 44, 6, 58337)

In [ ]:
# 242. 현재시간의 타입 (datetime모듈의 now 함수 리턴값 타입 출력)
type(datetime.now())

# >>>답안<<<
# import datetime
# now = datetime.datetime.now()
# print(now, type(now))

datetime.datetime

In [ ]:
# 243. (timedelta) datetime 모듈의 timedelta를 사용해 오늘부터 -5 ~ -1일 까지의 날짜 출력
import datetime
now = datetime.datetime.now()

for day in range(5,0,-1):
    delta = datetime.timedelta(days=day)
    date= now-delta
    print(date)

2021-03-06 08:48:51.861242
2021-03-07 08:48:51.861242
2021-03-08 08:48:51.861242
2021-03-09 08:48:51.861242
2021-03-10 08:48:51.861242

In [1]:
# 244. (strftime) 현재 시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보자.  18:35:01
import datetime
now = datetime.datetime.now()
now.strftime("%H:%M:%S")

'23:41:24'

In [ ]:
# 245. strptime
# datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어 준다. 
# '2020-05-04'의 문자열을 시간 타입으로 변환
day='2020-05-04'
ret = datetime.datetime.strptime(day,'%Y-%m-%d')
print(ret,type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [9]:
# 246. sleep 모듈
# time, datetime 모듈을 사용해 1초에 한 번 현재 시간을 출력하는 코드  생성.
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2021-03-12 00:07:32.720258
2021-03-12 00:07:33.722881
2021-03-12 00:07:34.724190
2021-03-12 00:07:35.725530
2021-03-12 00:07:36.726821
2021-03-12 00:07:37.728108

KeyboardInterrupt: ignored

In [ ]:
# 247. 모듈 임포트.
#  모듈을 임포트하는 4가지 방식 설명하기.

import os                # os.rename()
from os import rename    # rename
from os import *         # getcwd(), rename()... 
import os as my_os       # my_os.getcwd()

In [10]:
# 248. os 모듈
# os 모듈의 getcwd 함수를 호출해 현재 디렉터리 경로를 화면에 출력
import os
os.getcwd()

'/content'

In [ ]:
# 249. rename 함수
# 바탕화면에 텍스트 파일 하나 생성한 후 os 모듈의 rename 함수를 호출해 해당 파일의 이름 변경.

# import os
# os.rename('경로/원래파일명.txt','경로/바꿀파일명.txt')

In [20]:
# 250 numpy
# numpy 모듈의 arange 함수를 사용해 0.0부터 0.5까지 0.1씩 증가하는 값을 화면에 출력.
import numpy as np
np.arange(0 ,5 ,0.1)

# >>>답안<<<
# for i in np.arange(0, 5, 0.1):
#     print(i)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9])

## 11 클래스(251~290) *
---
* 파이썬 클래스는 **타입**을 만들어내는 도구이다.</br>
* int, float, str과 같이 새로운 타입을 만들 수 있다.
> (참고) [점프투파이썬](https://wikidocs.net/28) - '클래스'

In [ ]:
# 251. 클래스, 객체, 인스턴스에 대해 설명
'''
클래스   : 객체 생성을 위한 설계도.
객체     : 클래스를 통해 생성한 것.
인스턴스 : 객체내에서 생성된 변수로 그 객체가 소유한 변수
'''

# => 클래스를 활용해 만든 객체들은 서로 전혀 영향을 주지 않는다.

## [객체와 인스턴스의 차이]
'''
클래스로 만든 객체를 인스턴스라 한다. 그렇다면 객체와 인스턴스의 차이는 무엇인가?

a = Cookie()일때, a는 객체이다.
a 객체는 Cookie의 인스턴스이다. 
즉, 인스턴스라는 말은 특정 객체(a)가 어떤 클래스(Cookie)의 객체인지를 관계 위주로 설명할 때 사용한다. 
따라서 'a는 객체', 'a는 Cookie의 인스턴스라는 표현이 잘 어울린다. '
'''

In [44]:
# 클래스 예시(계산기의 더하기 구현)
result = 0 

def add(num):
    global result
    result += num
    return result

print(add(3))
print(add(4))


# 클래스로 구현

class Calc:
    def __init__(self):   
        self.result = 0    # 객체 초기화

    def add(self, num):     # 기능 정의
        self.result += num 
        return self.result
cal1 = Calc()
cal2 = Calc()

print(cal1.add(2))
print(cal1.add(6))

print(cal2.add(4))
print(cal2.add(7))

3
7
2
8
4
11

In [50]:
# 252. 클래스 정의
# 비어있는 사람(Human) 클래스를 정의.

# class Human:
#     __init__(self):
#     self

# >>>답안<<<<
class Human:
    pass

In [51]:
# 253. 인스턴스 생성
# Human 클래스의 인스턴스를 생성하고 이를 areum 변수로 바인딩.
class Human:
    pass

areum = Human()

In [53]:
# 254. 클래스 생성자 -1
# Humna 클래스에서 '응애응애'를 출력하는 생성자 출력
# class Human:
#     print('응애응애')

# areum = Human()


# >>>답안<<<
class Human:
    def __init__(self):
        print('응애응애')

areum = Human()

응애응애

In [56]:
# 255. 클래스 생성자 -2
# Human 클래스에 (이름,나이,성별)을 받는 생성자 추가
# 예시) areum = Human('아름',25,'여자')

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('아름', 25,'여자')
areum.name

'아름'

In [57]:
# 256. 인스턴스 속성에 접근
# 255에서 생성한 인스턴스의 이름, 나이, 성별 출력. (인스턴스 변수에 접근해 값 출력)
# 이름 : 조아름, 나이 : 25, 성별 : 여자
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('조아름',25,'여자')
areum.age()

25

In [65]:
# 257. 클래스 메소드-1
# Human 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드 추가하기
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print(f'이름 : {self.name} \n나이 : {self.age}\n성별 : {self.sex}')

areum = Human('조아름',25,'여')
areum.who()

이름 : 조아름
나이 : 25
성별 : 여

In [80]:
# 258. 클래스 메소드-2
# Human 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가
# 예시1) areum = Human('unknown',0,'unknown')
# 예시2) areum.setInfo('areum',25, 'female')

class Human:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender

    def who(self):
        print(f'이름 : {self.name} \n나이 : {self.age}\n성별 : {self.gender}')

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('unknown',0,'unkonwn')
areum.who()  # Human.who(areum), 같은 표현

areum.setInfo('areum',25,'female')
areum.who()

이름 : unknown
나이 : 0
성별 : unkonwn
이름 : areum
나이 : 25
성별 : unkonwn

In [81]:
# 259. 클래스 소멸자
# Human 클래스에 '나의 죽음을 알리지 마라'를 출력하는 소멸자 추가

class Human:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def __del__(self):
        print('나의 죽음을 알리지 마라')

    def who(self):
        print(f'name : {self.name}, age : {self.age}, gender:{self.gender}')
    
    def setInfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

areum = Human('jo',23,'female')
del areum

나의 죽음을 알리지 마라

In [88]:
# 260. 에러의 원인 (에러 발생 원인 설명)
class OMG:
    def print():  # self
        print('oh my god')

mystock = OMG()
mystock.print()  # OMG.print(mystock) 형태
# print() takes 0 positional arguments but 1 was given //  print함수에 인자값이 없기 때문 (self)

TypeError: ignored

In [89]:
class OMG:
    def print(slef):
        print('oh my god')

mystock = OMG()
mystock.print()

oh my god

In [90]:
# 261. stock 함수 생성
# 주식 종목에 대한 정보를 저장하는 stock 클래스 정의. (클래스는 속성과 메서드를 갖고있지 않다.)
class stock:
    pass

In [95]:
# 262. 생성자
# stock 클래스의 객체가 생성될때 종목명과 종목코드를 입력 받을 수 있도록 생성자 정의
class stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

삼성 = stock('삼성전자','005930')
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [98]:
# 263. 메서드
# 객체에 종목명을 입력할 수 있는 set_name 메서드 추가
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    
    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name('samsung')
print(a.name)

samsung

In [101]:
# 264. 메서드
# 객체에 종목코드를 입력할 수 잇는 set_code 메서드 추가
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name
    
    def set_code(self, code):
        self.code=code

a=Stock(None, None)
a.set_code('005930')
print(a.set_code)

None

In [109]:
# 265. 메서드
# 종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가.
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.name = name 
    def set_code(self, code):
        self.code

    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

삼성 = Stock('삼성전자','005123')
print(삼성.get_code())
print(삼성.code)

005123
005123

In [110]:
# 266. 객체의 속성값 업데이트
# 생성자에서 종목명, 종목코드, PER, PBR 배당수익률을 입력 받을 수 있도록 생성자를 수정.(타임은 float)

class Stock:
    def __init__(self, name, code, per, pbr, benefit):
        self.name = name 
        self.code = code
        self.per = per
        self.pbr = pbr
        self.benetif = benefit

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [114]:
# 267 객체 생성
# 266에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성.
삼성 = Stock('삼성전자','005930', 15.75,1.33,2.83)
print(삼성.get_code())

005930

In [123]:
# 268 객체의 속성 수정
# PER, PBR 배당 수익률은 변경될 수 있는 값이다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가.

class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name 
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per
    def set_pbr(self, per):
        self.pbr = pbr
    def set_dividend(self, dividend):
        self.dividend = dividend

In [131]:
# 269 객체의 속성 수정
# 267에서 생성한 객체에 set_per 메서드를 호출해 per값을 12.75로 수정
samsung = Stock('삼성전자','005930', 15.75,1.33,2.83)
samsung.set_per(12.75)
print(samsung.per)

12.75

### > 다시 볼 것
---
* classmethod
 > 참고, [핵심만 간단히, Hello World! 파이썬3](https://wikidocs.net/21054)
 * 정적 메소드(@staticmethod, @classmethod)

* super
 > 참고, [파이썬 super 기초 개념 및 예제](https://rednooby.tistory.com/56)
 * super(), 자식클래스에서 부모클래스 내용을 사용하고 싶을 경우</br>
 * super().부모클래스내용

* 메소드 오버라이딩(method overriding)
 > 참고, [상속(Inheritance), 메서드 오버라이딩(method overriding)](https://ordo.tistory.com/30)
 * 상속 : 클래스의 기능을 물려주고(부모클래스), 물려받음(자식클래스)
 * 메소드 오버라이딩 : 자식클래스가 부모클래스들 중 하나에 의해 이미 제공된 메소드를 특정 형태로 구현한 것.
    * 메소드의 이름은 같지만 기능을 다르게 할 때 사용.

In [136]:
# 270. 여러 종목의 객체 생성
# 아래의 표를 참조해 3 종목에 대해 객체를 생성하고 이를 리스트에 저장하시오
# 리스트 저장된 종목에 대해 for문을 사용해 종목코드와 per 출력.

class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name 
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend
종목 = []
samsung = Stock('samsung','0059123',15.27,1.33,2.38)
hyundae = Stock('hyundae','0053800',8.70, 0.35,4.27)
LG = Stock('LG', '0054321',317.34, 0.69, 1.37)

종목.append(samsung)
종목.append(LG)
종목.append(hyundae)

for 응 in 종목:
    print(응.code, 응.per)

0059123 15.27
0054321 317.34
0053800 8.7

In [150]:
# 271. Account 클래스
#  Account 클래스를 생성한 후 생성자를 구현해보세요. (은행이름, 예금주, 계좌번호, 잔액이 설정됩니다)
# 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 
# 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.


# class Account:
#     def __init__(self, bname, oname, num, account):
#         self.bname = bname
#         self.oname = oname
#         self.num = num
#         self.account = ccount

# >>>답안코드<<<
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC'

        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3

kim = Account('kim',100)

print(kim.name)
print(kim.balance)
print(kim.account_number)

kim
100
253-99-799655

In [152]:
# 272. 클래스 변수
# 클래스 변수를 사용해 Account 클래스로부터 생성된 계좌 객체의 개수 저장.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC'

        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3

        Account.account_count += 1

kim = Account('kim',199)
park = Account('Park', 300)
print(Account.account_count)

2

In [169]:
# 273. 클래스 변수 출력
# Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드 추가
class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC'
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3
        Account.account_count += 1

    @classmethod  # 정적메서드, cls 추가-> cls를 통해 account_count에 접근
    def get_account_num(cls):
        print(cls.account_count)

        
kim = Account('kim',100)
park = Account('park',300)
park.get_account_num()

2

In [183]:
# 274. 입금 메서드
# Account 클래스에 입금을 위한 deposit 메서드 추가. (최소 1원 이상만 가능)

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC'
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
           if amount >= 1:
            self.balance += amount

In [173]:
# 275 출금 메서드(withdraw 메서드 추가 // 잔고 이상은 출금 불가)
class Account:        
    account_count=0


    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC'
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(slef, amount):
        if amount >= 1:
            self.balance += amount
    
    def withdraw(self, out):
        if self.balance > out:
            self.balance -= out

In [177]:
# 276. 정보 출력 메서드
# 저장된 정보를 출력하는 display_info() 메서드를 추가. (잔고는 세자리마다 쉼표 출력)
class Account:
    account_count=0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC'
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(slef, amount):
        if amount >= 1:
            self.balance += amount
    
    def withdraw(self, out):
        if self.balance > out:
            self.balance -= out    

    def display_info(self):
        print(f'은행명:{self.bank}\n예금주:{self.name}\n계좌번호:{self.account_number}\n잔고:{self.balance}')

p = Account("파이썬", 10000)
p.display_info()

은행명:SC
예금주:파이썬
계좌번호:179-13-204220
잔고:10000

In [195]:
# 277. 이자 지급하기
# 입금 횟수가 5회 이상일 경우 잔고 기준 1% 이자 추가되도록 코드 변경

class Account:
    account_count=0

    def __init__(self, name, balance):
        self.deposit_count=0

        self.name = name
        self.balance = balance
        self.bank = 'SC'
        
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1+'-'+num2+'-'+num3
        Account.account_count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count +=1
            if self.deposit_count%5==0:
                self.balance = (self.balance*1.01)
    
    def withdraw(self, out):
        if self.balance > out:
            self.balance -= out    

    def display_info(self):
        print(f'은행명:{self.bank}\n예금주:{self.name}\n계좌번호:{self.account_number}\n잔고:{self.balance}')
        
p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [206]:
# 278. 여러 객체 생성
# Account로 3개 이상 인스턴스 생성하고 생성된 인스턴스를 리스트에 저장.
li1 = []

kim = Account('kim',100000)
park = Account('park',30000)
han = Account('han',5000)
lee=Account('lee',99999999)

li1.append(kim)
li1.append(park)
li1.append(han)
li1.append(lee)
print(li1)

[<__main__.Account object at 0x7f18d4b32810>, <__main__.Account object at 0x7f18d4b32b90>, <__main__.Account object at 0x7f18d4a33910>, <__main__.Account object at 0x7f18d4a33b90>]

In [208]:
# 279. 객체 순회
# 반복문을 통해 리스트에 있는 객체를 순회하며 잔고가 100만원 이상인 고객의 정보만 출력
for i in li1:
    if i.balance > 1000000:
        print(i.display_info())

은행이름:  SC은행
예금주:  lee
계좌번호:  066-61-572408
잔고:  99999999
None

In [214]:
# 280. 입출금 내역
# 입금과 출금 내역이 기록되도록 코드 업데이트(deposit_history, withdraw_history 메서드 추가)
import random
import datetime

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.withdraw_log=[]
        self.deposit_log=[]

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
            self.withdraw_log.append(amount)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)
    
    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [219]:
# 281. 클래스 정의
# 다음 코드가 동작하도록 차 클래스를 정의하시오.

# car = Car(2,1000)
# car.wheel
# car.price

class Car:
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price
car = Car(2,1000)
print(car.price, car.wheel)

1000 2

In [222]:
# 282. 클래스 상속 (차 클래스를 상속받은 자전차 클래스를 정의)
## (클래스 생성)Car
class Car: 
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price

## (클래스 상속) Car-Bycle
class Bike(Car):
    pass

In [228]:
# 283. 클래스 상속
# 다음 코드가 동작하도록 자전차 클래스 정의(단, 자전차 클래스는 차 클래스를 상속받는다.)

# bike = Bike(2,100)
# biek.price

class Car: 
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price

## (클래스 상속) Car-Bycle
class Bike(Car):
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price

bike = Bike(2,100)
print(bike.price)

100

In [230]:
# 284. 클래스 상속
# 다음 코드가 동작하도록 자전차 클래스 정의(단, 자전차 클래스는 차 클래스를 상속받는다.)

# bike = Bike(2,100,'simano')
# bike.gear

class Car: 
    def __init__(self, wheel, price):
        self.wheel = wheel
        self.price = price

## (클래스 상속) Car-Bycle
class Bike(Car):
    def __init__(self, wheel, price, gear):
        super().__init(wheel,price) # Car.__int__(self, wheel, price)
        self.gear = gear


bike = Bike(2,100,'simano')
bike.gear

'simano'

In [241]:
# 285. 클래스 상속
# 다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의.(정보 추가)

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)
        
    def 정보(self):
        print('바퀴수:', self.바퀴)
        print('가격 :', self.가격)

car = 자동차(4,100)
car.정보()

바퀴수: 4
가격 : 100

In [249]:
# 286. 부모 클래스 생성자 호출
# 다음 코드가 동작하도록 자전차 클래스 수정

# >bicycle = 자전차(2,100,'시마노')
# >bicycle.정보()

class Car:
    def __init__(self, wheel, price, gear):
        self.wheel = wheel
        self.price = price
        self.gear = gear

class Bicycle(Car):
    def __init__(self, wheel, price,gear):
        super().__init__(wheel,price,gear)

    def info(self):
        print(f'바퀴수:{self.wheel}\n가격:{self.price}')

bicycle = Bicycle(2,100,'simano')
bicycle.info()
        
# >>>답안<<<
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print('바퀴 수', self.바퀴)
        print('가격 ', self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴,가격)

class 자전거(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴,가격)
        self.구동계 = 구동계

bicycle = 자전거(2,100,'시마노')
bicycle.정보()

바퀴수:2
가격:100
바퀴 수 2
가격  100

In [253]:
# 287. 부모 클래스 메서드 호출
# 자전차 정보() 메서드로 구동계 정보까지 출력하도록 수정
class 차:
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계
    
    def 정보(self):
        print('바퀴 수', self.바퀴)
        print('가격 ', self.가격)
        print('구동계', self.구동계)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴,가격)

class 자전거(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴,가격, 구동계)
        
bicycle = 자전거(2,100,'시마노')
bicycle.정보()


# >>>답안<<<
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print('바퀴 수', self.바퀴)
        print('가격 ', self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴,가격)

class 자전거(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴,가격)
        self.구동계 = 구동계

    def 정보(self):
        super().정보()
        print('구동계',self.구동계)

bicycle = 자전거(2,100,'시마노')
bicycle.정보()

바퀴 수 2
가격  100
구동계 시마노
바퀴 수 2
가격  100
구동계 시마노

In [254]:
# 288. 메서드 오버라이딩 
# 코드 실행 결과 예상
class 부모:
    def 호출(self):
        print('부모호출')

class 자식(부모):
    def 호출(self):
        print('자식호출')

나 = 자식()
나.호출() # >> 자식 호출 (호출의 모양은 같아도 기능이 다르기때문 - 오버라이딩)

자식호출

In [255]:
# 289. 생성자
# 코드 실행 결과 예상
class 부모:
    def __init__(self):
        print('부모생성')

class 자식(부모):
    def __init__(self):
        print('자식생성')

나 = 자식()

자식생성

In [257]:
# 290. 부모클래스 생성자 호출
# 코드 실행 결과 예측
class 부모:
    def __init__(self):
        print('부모생성')

class 자식(부모):
    def __inti(self):
        print('자식생성')
        super().__init__()

나=자식()

부모생성

## 12 파일 입출력과 예외처리 (291~300)
---
[학습 목표]
* 파일 읽고 쓰는 방법
* 프로그램을 작성하다보면 예외가 발생할 수 있는데, 이를 처리하는 방법

In [258]:
# 291. 파일 쓰기
# 바탕화면에 'ex1.txt' 파일을 생성한 후 다음과 같이 종목코드를 파일에 써보시오.
f = open('ex1.txt','w')
f.write('005930\n')
f.write('005380\n')
f.write('005231')
f.close()

In [259]:
# 292. 파일 쓰기
# ex2.txt 생성
f = open('ex2.txt','w')
f.write('005930\t samsung\n')
f.write('005380\t hyundae\n')
f.write('005231\t naver')
f.close()

In [281]:
# 293. CSV 파일 쓰기
# ex.csv 생성 (인코딩은 cp949)
import pandas as pd
test = pd.DataFrame(np.array([['삼성전자','005930',15.79],['NAVER','035420',55.79]]),columns=['종목명','종목코드','PER'])
test.to_csv('ex.csv', encoding='cp949')

# >>>답안<<<
# import csv

# f = open("ex.csv", mode="wt", encoding="cp949", newline='')

# writer = csv.writer(f)
# writer.writerow(['종목명','종목코드','PER'])
# writer.writerow(['삼성전자','005930',15.79])
# writer.writerow(['NAVER','035420',55.79])

# f.close()

In [323]:
# 294. 파일 읽기
# ex.txt 읽은 뒤 리스트에 저장
f= open('/content/ex1.txt', encoding='cp949')
lines = f.readlines()

li1 = []
for line in lines:
    line = line.strip('\n')
    li1.append(line)

print(li1)

['005930', '005380', '005231']

In [301]:

# 295. 파일 읽기
# ex2.txt를 dict 형태로 저장
f = open('ex2.txt', encoding='cp949')

lines = f.readlines()

data={}
for line in lines:
    line = (line.strip('\n')).replace('\t','')
    k,v = line.split(' ')
    data[k]=v

print(data)
f.close()

{'005930': 'samsung', '005380': 'hyundae', '005231': 'naver'}

In [326]:
# 296. 예외처리
# 문자열 PER(Price Earning Ratio)값을 실수로 변환할 때 에러가 발생한다.
# 이를 예외처리를 통해 에러가 발생하는 PER은 0으로 출력하라.

per = ['10.31','','8.00']
# try:
#     for i in per:
#         print(float(i))
# except Exception as E:
#     pass

# >>>답안<<<
for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [336]:
# 297. 예외처리 및 리스트에 저장
# 문자열로 표현된 PER 값을 실수로 변환한 후 이를 새로운 리스트에 저장.
per = ['10.31','','8.00']
li2 = []

for i in per:
    try:
        li2.append(float(i))
    except:
        li2.append(0)

# >>>답안<<<
# for i in per:
#     try:
#         v=float(i)
#     except:
#         v=0
#     li2.append(v)

print(li2)

[10.31, 0, 8.0]

In [343]:
# 298. 특정 예외만 처리하기 
# 어떤 값을 0으로 나누면 ZeroDivisionError 에러가 발생한다. try~except로 해당 에러에 대해서만 예외처리.
try:
    b= 3/0
except ZeroDivisionError as Z:
    print(Z)

division by zero

In [350]:
# 299. 예외 메세지 출력하기
data = [1,2,3]
# for i in range(5):
#     print(data[i])
for i in range(5):
    try:
        print(data[i])
    except IndexError as I:
        print(I)

1
2
3
list index out of range
list index out of range

In [ ]:
# 300 try, except, else, finally 구조 사용해보기

 파이썬 예외처리는 다음과 같은 구조를 가질 수 있다.
```
try: 
    실행 코드
except:
    예외 발생시 경우 수행할 코드
else: 
    예외 미발생시 수행할 코드
finally:
    예외 발생 여부와 상관없이 수행
```

In [363]:
per = ['10.31','','8.00']

for i in per:
    try:
        print(float(per))
    except:
        try:
            print(float(i))
        except:
            print(0)
        else:
            print('에러 미발생')
    finally:
        print('-'*8)

10.31
에러 미발생
--------
0
--------
8.0
에러 미발생
--------